
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');

/*----- background -----*/
body {
    background-color: #EDDDD4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: -9999;
}

/*----- main image -----*/
.main-image {
    background: url(../images/veg-slate.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    
    

}

/*----- fonts -----*/

.heading {
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    font-size: 120px;
    line-height: 150px;
    text-decoration-line: underline;
    text-transform: capitalize;

    color: #fafafa;
    float: left;
}

h2 {
    font-family: 'Fredericka the Great';
    color: #3A1673;
}

p {
    width: 400px;
    margin: 40px;
    color: #fafafa;
    font-family: OpenSans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    text-align: left;
}
/*----- navigation -----*/

.nav-color {
    background-color: #3A1673;
}

.nav-link {
    font-family: 'Fredericka the Great';
    font-size: 20px;
    color: #fafafa;
}

/*----- general section layouts -----*/
.instuctions {
    color: black;
    
}

.btn-submit {
    color: #fafafa;
    background-color: #3A1673;

}

.search-bar {
    width: 50%;
    
}

/*----- calorie section -----*/
.calories{

}
/*----- recipe section -----*/
.recipes {

}
/*---- footer ----*/

.footer-basic {
    margin-top: auto;
    width:100%;
    height:60px; 
    background-color: #3A1673;
}

.footer-basic,
.social {
    text-align: center;
    color: #fafafa;
}

.social i{
    padding: 0 10px;
    color: #fafafa;
    font-size: 20px;
}